.f-645546712-clv1sotwmf2k99veh5-icon {
    position: absolute;
    width: 100%;
    top: 0px;
    right: 0%;
    left: 0%;
    border-radius: 25px;
    max-width: 100%;
    overflow: hidden;
    height: 595px;
    object-fit: contain;
}
.basilsearch-outline-icon {
    width: 25px;
    position: relative;
    height: 25px;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: contain;
}
.search-for-musics {
    position: relative;
    font-weight: 300;
    opacity: 0.6;
}
.search-for-musics-artists-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.basilsearch-outline-parent {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 3px;
}
.search-bar {
    flex: 0.9523;
    border-radius: 10px;
    background-color: #1f1f1f;
    height: 38px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 6px 8px;
    box-sizing: border-box;
    text-align: left;
}
.about-us {
    flex: 1;
    position: relative;
    font-weight: 500;
}
.about-us-parent {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.titles {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}
.button1 {
    position: relative;
    font-weight: 300;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}
.button {
    flex: 1;
    border-radius: 4px;
    border: 1px solid #ee10b0;
    box-sizing: border-box;
    height: 36px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 6px 16px;
}
.button2 {
    flex: 1;
    border-radius: 4px;
    background-color: #ee10b0;
    height: 36px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 6px 16px;
    box-sizing: border-box;
    color: #fff;
}
.button-parent {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
    font-size: 14px;
    color: #ee10b0;
}
.search-bar-parent {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
}
.all-the {
    color: #fff;
}
.all-the-best-songs {
    margin: 0;
}
.in-one-place {
    margin: 0;
    color: #fff;
}
.all-the-best-container {
    position: relative;
    font-weight: 800;
}
.all-the-best-songs-in-one-plac-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    color: #ee10b0;
}
.on-our-website {
    width: 332px;
    position: relative;
    font-weight: 300;
    display: inline-block;
    flex-shrink: 0;
}
.on-our-website-you-can-access-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    text-align: justify;
    font-size: 12px;
}
.button5 {
    position: relative;
    font-weight: 500;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}
.button4 {
    border-radius: 4px;
    background-color: #ee10b0;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px 24px;
    box-sizing: border-box;
}
.button6 {
    border-radius: 4px;
    border: 1px solid #0e9eef;
    box-sizing: border-box;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px 24px;
    color: #0e9eef;
}
.button-group {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 24px;
    text-align: center;
    font-size: 16px;
}
.frame-parent {
    width: 352px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
    text-align: left;
    font-size: 40px;
}
.hero-section1 {
    position: absolute;
    width: 95.37%;
    top: 16px;
    right: 2.31%;
    left: 2.31%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 114px;
}
.hero-section {
    position: absolute;
    width: 75%;
    top: 48px;
    right: 4.44%;
    left: 20.49%;
    height: 595px;
    text-align: center;
    font-size: 12px;
}
.songs {
    color: #ee10b0;
}
.weekly-top-songs-container {
    position: relative;
}
.weekly-top-songs-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: center;
    padding: 10px;
}
.frame-child {
    flex: 1;
    position: relative;
    border-radius: 10px;
    max-width: 100%;
    overflow: hidden;
    height: 150px;
    object-fit: cover;
}
.rectangle-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.whatever-it-takes {
    align-self: stretch;
    position: relative;
    font-weight: 500;
}
.imagne-dragons {
    align-self: stretch;
    position: relative;
    font-size: 12px;
    font-weight: 300;
    opacity: 0.8;
}
.whatever-it-takes-parent {
    width: 150px;
    height: 48px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 4px;
}
.frame-parent1 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
}
.frame-wrapper {
    flex: 1;
    border-radius: 10px;
    background-color: #1f1f1f;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    padding: 4px 15px;
}
.frame-div {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 24px;
}
.icbaseline-plus-icon {
    width: 24px;
    position: relative;
    height: 24px;
    overflow: hidden;
    flex-shrink: 0;
}
.icbaseline-plus-wrapper {
    flex: 1;
    border-radius: 31px;
    background-color: #1e1e1e;
    height: 62px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: center;
    padding: 18px 19px;
    box-sizing: border-box;
}
.view-all {
    position: relative;
    font-weight: 500;
}
.frame-parent6 {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 4px;
    max-width: 62px;
}
.frame-container {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: center;
    padding: 0px 4px;
    gap: 24px;
    font-size: 16px;
}
.frame-group {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 4px;
}
.weekly-top-songs {
    position: absolute;
    width: 73.75%;
    top: 707px;
    right: 4.44%;
    left: 21.81%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.alan-walker {
    align-self: stretch;
    position: relative;
    font-size: 12px;
    font-weight: 300;
    white-space: pre-wrap;
    opacity: 0.8;
}
.new-release-songs {
    position: absolute;
    width: 73.75%;
    top: 1059px;
    right: 4.44%;
    left: 21.81%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.footer-child {
    position: absolute;
    top: 0px;
    left: 144px;
    width: 143px;
    height: 291px;
}
.melodies {
    flex: 1;
    position: relative;
}
.melodies-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.line-div {
    align-self: stretch;
    position: relative;
    border-top: 3px solid #fff;
    box-sizing: border-box;
    height: 3px;
}
.frame-parent17 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.frame-parent18 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}
.div1 {
    width: 143px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}
.wrapper {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}
.div2 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}
.frame-parent22 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 16px;
}
.container {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: right;
}
.frame-parent16 {
    position: absolute;
    width: 62.99%;
    top: 0px;
    right: 37.01%;
    left: 0%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 22px;
}
.melodies1 {
    position: relative;
    font-weight: 800;
    background: linear-gradient(90.07deg, #ee10b0, rgba(14, 158, 239, 0.92));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.vector-icon {
    width: 24px;
    position: relative;
    height: 24px;
}
.streamlinecomputer-logo-faceb {
    align-self: stretch;
    flex: 1;
    background-color: #181818;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 2px;
}
.lucideinstagram {
    align-self: stretch;
    flex: 0.9291;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 4px;
}
.vector-icon1 {
    width: 24px;
    position: relative;
    height: 20.5px;
}
.streamlinecomputer-logo-twitt {
    align-self: stretch;
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px 2px;
}
.vector-icon2 {
    width: 24px;
    position: relative;
    height: 31.8px;
}
.fluentcall-28-regular {
    align-self: stretch;
    flex: 0.7872;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 3px 8px;
}
.streamlinecomputer-logo-faceb-parent {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}
.frame-parent23 {
    position: absolute;
    top: 45.01px;
    left: 509.5px;
    width: 241.4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 25px;
    text-align: left;
    font-size: 40px;
}
.footer {
    position: absolute;
    top: 1435px;
    left: 656.5px;
    filter: drop-shadow(0px -17px 22.7px rgba(0, 0, 0, 0.25));
    width: 750.9px;
    height: 291px;
    text-align: center;
    font-size: 24px;
}
.melodies2 {
    flex: 1;
    position: relative;
    background: linear-gradient(90.07deg, #ee10b0, rgba(14, 158, 239, 0.92));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.melodies-frame {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-size: 32px;
}
.menu-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-size: 12px;
    color: #ee10b0;
}
.home1 {
    flex: 1;
    position: relative;
    font-weight: 600;
    display: inline-block;
    height: 28px;
}
.group-parent {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}
.frame-wrapper10 {
    align-self: stretch;
    border-radius: 9px;
    background-color: #ee10b0;
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 2px 8px;
    box-sizing: border-box;
}
.sticky-part-inner {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 20px;
}
.material-symbols-lightexplore-icon {
    width: 16px;
    position: relative;
    height: 16px;
    overflow: hidden;
    flex-shrink: 0;
}
.discover {
    flex: 1;
    position: relative;
    font-weight: 500;
    display: inline-block;
    height: 22px;
}
.recently-added {
    flex: 1;
    position: relative;
    font-weight: 500;
    display: inline-block;
    height: 23px;
}
.subwayadd-playlist-parent {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    color: #0e9eef;
}
.setting {
    flex: 1;
    position: relative;
    font-weight: 500;
    display: inline-block;
    height: 24px;
}
.line-mdlog-out-parent {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    color: #ee10b0;
}
.sticky-part {
    position: absolute;
    width: 18.75%;
    top: 0px;
    right: 81.25%;
    left: 0%;
    box-shadow: 8px 0px 24.2px rgba(238, 16, 176, 0.15);
    background-color: #181818;
    border-right: 2px solid #ee10b0;
    box-sizing: border-box;
    height: 1435px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 48px 32px 0px 64px;
    gap: 24px;
    font-size: 16px;
}
.about1 {
    flex: 1;
    position: relative;
    letter-spacing: 0.01em;
    font-weight: 900;
}
.premium-passs {
    color: #0e9eef;
}
.melodies-is-a-container {
    flex: 1;
    position: relative;
    display: inline-block;
    height: 199.5px;
    filter: drop-shadow(0px 2.6596858501434326px 5.32px rgba(0, 0, 0, 0.35));
    opacity: 0.9;
}
.melodies-is-a-website-that-has-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: justify;
    font-size: 21.28px;
}
.frame-parent24 {
    position: absolute;
    width: 32.23%;
    right: 62.77%;
    bottom: 75.5px;
    left: 5%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 34.58px;
}
.home {
    width: 100%;
    position: relative;
    background-color: #181818;
    height: 1774px;
    overflow: hidden;
    text-align: left;
    font-size: 32px;
    color: #fff;
    font-family: Vazirmatn;
}

